h1 {
	color: blue;
	background-color: yellow;
	text-align: center;
}
p {
	font-weight: bold;
	text-decoration: none;
	font-size: 30px;
}
a.link {
	color: red
	text-decoration: underline;
	text-align: center;
	padding-top: 200px;
	padding-right: -200px;
	background-color: red;
}
a.visited {
	color: orange; text-decoration: underline;
	text-align: center;
}
a.hover {
	color: blue; text-decoration: underline;
	text-align: center;
}
a.active {
	color: green; text-decoration: underline;
	text-align: center;
}
ul.list {
	list-style-type: circle;					//square,upper-roman
	text-size: 12px;							//lower-roman;
}
table {
	border: 3px solid black;
	border-collapse: collapse;
	width: 50%;
}
th ,td {
	border: 1px solid black;
	text-align: center;
	padding:10px;

}
td:hover { background-color: pink}
tr:hover {
	background-color: yellow;
}